<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clima App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>
<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Clima en tu Ciudad
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <!--<form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                {{ form.name }}
                            </div>
                            <div class="control">
                                <button class="button is-info">
                                    Añadir Ciudad
                                </button>
                            </div>
                        </div>
                    </form>-->
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                {% for weather in weather_data %}
                <div class="column">
                    
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ weather.city }}</span>
                                        <br>
                                        <span class="subtitle">{{ weather.temperature }}°C</span>
                                        <br><h4>Humedad: {{weather.humidity}}%</h4>
                                        <br><h4>Presion Atmosferica: {{weather.pressure}} mb</h4>
                                        <br><h4>Salida del Sol: {{weather.sunrise}}</h4>
                                        <br><h4>Puesta del Sol: {{weather.sunset}}</h4>
                                        <br><h4>Velocidad del Viento: {{weather.windspeed}} km/h</h4>
                                        <br> {{ weather.description }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
</body>
</html>